@charset "UTF-8";

:root{
  --h: 8rem;
  --primary: #F8A4A4;
  --secondary: #6B3237;
  --gray: #C8C8C8;
  --main_text: #6B3237;
  --white: #FFFFFF;
  --text: #373737;
  --border: #d2d2d2;
  --nav: 40rem;
}

*{box-sizing: border-box;}
html{font-size: 10px; scroll-behavior: smooth;}
body{
  font-family: "Pretendard Variable", "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  color: var(--text);
}

/* text */
a{text-decoration: none;}
p, span{
  word-break: keep-all;
  color: var(--text);
}
.ws_pre{white-space: pre-line;}

h1{font-size: 3.4rem;}
h2{font-size: 3.0rem;}
h3{font-size: 2.8rem;}
h4{font-size: 2.4rem;}
h5{font-size: 2.0rem;}
h6{font-size: 1.8rem;}

.fw_100{font-weight: 100;}
.fw_200{font-weight: 200;}
.fw_300{font-weight: 300;}
.fw_400{font-weight: 400;}
.fw_500{font-weight: 500;}
.fw_600{font-weight: 600;}
.fw_700{font-weight: 700;}
.fw_800{font-weight: 800;}
.fw_900{font-weight: 900;}

b, strong{font-weight: 600;}
small{font-size: 1.4rem; display: block;}

.cont_tit{
  font-weight: 300;
  color: var(--main_text);
  margin-bottom: 4rem;
}
.copyright{
  font-size: 1.2rem;
  color: var(--main_text);
  text-align: center;
  padding-top: 10rem;
}

.text_center{text-align: center;}
.text_left{text-align: left;}
.text_right{text-align: right;}
.text_justify{text-align: justify;}
.text_line{text-decoration: underline;}

.fs_12{font-size:1.2rem;}
.fs_14{font-size:1.4rem;}
.fs_15{font-size:1.5rem;}
.fs_16{font-size:1.6rem;}
.fs_17{font-size:1.7rem;}
.fs_18{font-size:1.8rem;}

/* grid */
.d_flex{display: flex;}
.flex_col{flex-direction: column;}
.flex_row{flex-direction: row;}
.justify_content_center{justify-content: center;}
.align_items_center{align-items: center;}
.flex_wrap{flex-wrap: wrap;}

.gap_1{gap: 1rem;}
.gap_2{gap: 2rem;}
.gap_3{gap: 3rem;}
.gap_4{gap: 4rem;}
.gap_5{gap: 5rem;}
.gap_6{gap: 6rem;}

/* color */
.bg_primary{background-color: var(--primary);}
.bg_secondary{background-color: var(--secondary);}
.text_primary{color: var(--primary);}
.text_secondary{color: var(--secondary);}

/* margin, padding */
.mb_5{margin-bottom: .5rem;}
.mb_10{margin-bottom: 1rem;}
.mb_20{margin-bottom: 2rem;}
.mt_10{margin-top: 1rem;}
.mt_20{margin-top: 2rem;}
.mt_100{margin-top: 10rem;}

/* w/h */
.h_auto{height: auto !important;}
.h_100{height: 100% !important;}
.w_auto{width: auto !important;}
.w_100{width: 100% !important;}

/* img */
img{
  max-width: 100%;
}

/* button */
button, .btn{
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 0;
}

/* card */
.box{
  height: 35rem;
  background-color: rgba(255,255,255,0.5);
  border-radius: 1rem;
  padding: 2rem;
}
.card_box{
  /* height: 35rem; */
  background-color: rgba(255,255,255,0.5);
  border-radius: 1rem;
  padding: 4rem;
  margin-top: 5rem;
}
.card_box .profile{
  line-height: 2;
}

/* line */
.line{position: relative;}
.line::after{
  content: "";
  width: 60%;
  height: 1px;
  background-color: #373737;
  position: absolute;
  top: 50%;
  margin-left: 2rem;
}

/* label */
label{
  background-color: var(--gray);
  border-radius: 1rem;
  padding: 1.5rem 2rem;
}

/* tab */
.tab_nav{
  margin-bottom: 2rem;
}
.tab_item{
  margin-right: 2rem;
}
.tab_link{
  padding: 1.5rem 2rem;
  color: var(--primary);
  border-radius: 1rem !important;
}
.tab_link.active{
  background-color: var(--main_text) !important;
}
.tab_link:hover{
  color: var(--main_text);
}

/* modal */
.modal-header{border-bottom: none;}
.modal-header, .modal-body, .modal-footer{
  padding: 2rem;
}
.modal-header .modal-title{
  font-size: 2rem;
  font-weight: 600;
}
.modal-body{
  scroll-behavior: smooth;
}

/* scroll */
::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--primary);
  border-radius: 1rem;
}

/* 키프레임 이름 = 애니메이션 이름 */
@-webkit-keyframes move_up {
  0% {
    bottom: -20rem;
  }
  100% {
    bottom: -10rem;
  }
}

@-webkit-keyframes move_down {
  0% {
    top: 60rem;
  }
  100% {
    top: 50rem;
  }
}