@charset "UTF-8";

.wr{
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.wr_group{
  /* display: flex;
  position: relative; */
  padding-top: 10rem;
}
/* .wr_group{
  display: flex;
  position: relative;
  padding-top: 10rem;
}
.comp{
  width: 100%;
  padding-left: var(--nav);
  transition: margin-left .5s;
  margin: 0 auto;
}
.comp.show{
  padding-left: var(--nav);
} */
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.sec{
  padding: 5rem;
  position: relative;
}


.pf_wr, .pj_wr{
  padding: 5rem 0;
  position: relative;
  z-index: 6;
}

/* header */
header{
  height: 10rem;
  position: fixed;
  z-index: 9;
}

/* nav */
.lf_nav{
  margin-left: -400px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  transition: margin-left .4s;
}
.lf_nav.show{
  margin-left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.lf_nav.show .menu{
  margin-left: 0;
}

.menu{
  width: var(--nav);
  height: 100%;
  background-color: var(--primary);
  padding: 5rem;
  margin-left: -400px;
  transition: margin-left .4s;
  overflow-y: auto;
}
.open_menubar{
  padding: 5rem 0 0 5rem;
}
.menubar i, .open_menubar i{
  font-size: 3.2rem;
  color: var(--main_text);
  opacity: .7;
  cursor: pointer;
}
.menubar{
  height: 5rem;
  margin-bottom: 5rem;
}
.menubar:hover i, .open_menubar:hover i{
  opacity: 1;
  transition: ease-in-out .4s;
}

nav ul{
  padding: 5rem 0;
}
nav li{
  border-radius: 1rem;
  margin-bottom: 1rem;
}
nav li:hover{
  background-color: var(--secondary);
  transition: ease-in-out .4s;
}
nav li:hover a{
  color: var(--white);
}
nav .nav_item.active{
  background-color: var(--secondary);
}
nav .nav_item.active a{
  color: var(--white);
}
nav a{
  display: block;
  padding: 2rem;
  color: var(--main_text);
  text-align: center;
}

/* main */
.main_wr{padding: 5rem 0;}
.main_wr h2{font-size: 4rem;}
.main_wr h1{font-size: 6rem;}
.main_wr p{font-size: 2rem;}

/* img */
.profile_image{
  display: flex;
  margin-top: 18rem;
}
.profile_image img{
  width: 20rem;
  border-radius: 2rem;
}
.profile_image p{
  font-size: 1.6rem;
  line-height: 1.4;
}
.profile_image .profile{
  margin: auto 0 0;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.bg_round{
  position: absolute;
  width: 80rem;
  height: 80rem;
  background-color: var(--primary);
  border-radius: 50rem;
  right: -30rem;
  top: -20rem;
  opacity: .2;
  z-index: 1;

  animation-name: move_down;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.bg_round_sm{
  position: absolute;
  width: 40rem;
  height: 40rem;
  background-color: var(--primary);
  border-radius: 50rem;
  left: -20rem;
  top: 60rem;
  opacity: .2;
  z-index: 1;

  animation-name: move_down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* history */
.list li{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.list li span{
  flex: 1;
  text-align: left;
}

/* about me */
.card_group{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5rem;
}
.card_group .card{
  flex: 0 0 30%;
  border: 1px solid var(--primary);
  border-radius: 1rem;
  overflow: hidden;
  transition: all .3s;
}
.card .sub_tit{
  background-color: var(--primary);
  font-weight: 600;
  font-size: 1.8rem;
  padding: 2rem;
  text-align: center;
  color: var(--white);
}
.card .sub_body{
  height: calc(100% - 5.8rem);
  padding: 2rem;
}
.card .sub_body ul{
  height: 100%;
  line-height: 1.4;
}
.card .sub_body img{
  width: 5rem;
  height: 5rem;
}
.card .sub_body span{
  display: block;
  margin: auto;
}

/* skill */
.skill_wr .card_group{
  gap: 2rem;
}
.skill_wr .card{
  height: auto;
  flex: 1;
}
.box{
  border-style: dashed !important;
}
.box.second{
  border-color: var(--gray);
}
.box.second .sub_tit{
  background-color: var(--gray);
}
.box .sub_body{
  display: block;
  gap: 1rem;
}
.box .label_group{
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.box .sub_body label{
  color: var(--white);
}
.box .sub_body img{
  width: 6rem;
  height: 6rem;
}
.box.first .sub_body{
  display: inline-flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.box.first .group{
  flex: 0 0 30%;
}

.box.second .text_group{
  display: flex;
  height: 40%;
}
.line_1::before{
  content: "";
  width: 5rem;
  height: .4rem;
  background-color: var(--primary);
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 10px;
}
.line_2::before{
  content: "";
  width: 5rem;
  height: .4rem;
  background-color: var(--gray);
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 10px;
}

/* priject */
.pj_list{
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}
.pj_list li{
  background-color: var(--white);
  box-shadow: 20px 20px 30px 0px rgba(248, 164, 164, 0.2);
  padding: 4rem;
  border-radius: 2rem;
  flex: 0 0 30%;
}
.pj_list .item{
  display: flex;
  flex-direction: column;
}
.pj_list .item a{
  color: var(--text);
}

/* project > tab */
.tab_cont .d_flex{
  gap: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}
.tab_cont .d_flex li{
  flex: 0 0 calc(50% - 2rem);
  position: relative;
  height: 250px;
  overflow: hidden;
  cursor: pointer;
}
.tab_cont .d_flex li:hover .tit{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all .4s;
}
.tab_cont .d_flex li .tit{
  opacity: 0;
}

/* project */
.group_tit{
  padding: 2rem;
  background-color: #FEEDED;
  border-radius: 1rem;
}
.group_body{
  padding: 2rem;
  padding-bottom: 4rem;
}
.img_group{
  padding: 4rem 0;
}
.img_group ul{
  list-style-type: '- ';
  padding: 0 2rem;
  line-height: 2;
  margin-top: 2rem;
}
.img_group img{
  border: 1px solid #FEEDED;
}
.modal .modal-body{
  overflow-y: auto;
  max-height: 700px;
}

.group .btn_group a{
  display: block;
  padding: 2rem;
  background-color: var(--primary);
  text-align: center;
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 1rem;
}

/* contact */
.contact{
  background-color: #FEEDED;
  height: 90rem;
  position: relative;
}
.contact .container{
  position: relative;
}
.contact h1{
  font-size: 30rem;
  font-weight: 900;
  letter-spacing: -30px;
  opacity: .1;
}
.contact .cont_body{
  position: absolute;
  top: 0;
  padding: 5rem 0;
  width: 100%;
}
.contact .cont_body p{
  line-height: 1.4;
}

/* button > top */
.btn_top{
  position: fixed;
  background-color: var(--primary) !important;
  width: 5rem;
  height: 5rem;
  z-index: 6;
  border-radius: 5rem;
  bottom: 5rem;
  right: 5rem;
  font-size: 3rem;
  color: var(--white) !important;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.btn_top.show{
  opacity: 1;
  visibility: visible;
}
.btn_top:hover{
  opacity: .7;
}
