@charset "UTF-8";

/* common */
*{
  box-sizing: border-box;
}
body{
  color: #2A3659;
  font-size: 15px;
  font-family: 'Noto Sans KR', 'Roboto';
}

/* text */
h1.title{
  font-family: 'Racing Sans One';
  color: #2A3659;
  font-size: 80px;
}
h2.title{
  font-family: 'Racing Sans One';
  font-size: 40px;
  color: #BC2649;
  margin-bottom: 40px;
}
h2.sub-title{
  color: #2A3659;
  font-size: 25px;
}
h3.title{
  font-size: 30px;
  color: #567492;
}
.sub-title{
  font-weight: 500;
  margin-bottom: 30px;
}

b{
  font-weight: 600;
  color: #2A3659;
}

a{
  text-decoration: none;
}

/* content */
.wrapper{
  position: relative;
}

.component{
  padding: 200px 0;
  position: relative;
}
.component::after{
  content: "";
  width: 300px;
  height: 2px;
  background-color: #2A3659;
  position: absolute;
  bottom: 0px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0px);
}

.container{
  width: 1200px;
  margin: 0 auto;
}

.content-sub-header{
  margin-bottom: 20px;
}

/* icon */
.icon{
  color: #2A3659;
}

/* tab */
.tab-nav{
  display: flex;
}
.tab-nav .tab-item{
  border: 1px solid #F2F2F2;
  margin-left: -1px;
  border-bottom: 0;
}
.tab-nav .tab-item:first-child{
  margin-left: 0;
}
.tab-item a.active{
  background-color: #2A3659;
  color: #FFFFFF;
  font-weight: 500;
}
.tab-item a{
  color: #2A3659;
  padding: 20px;
  text-decoration: none;
  display: block;
}

/* header */
.header-component{
  height: 70px;
  border-bottom: 1px solid #F2F2F2;
  background-color: #FFFFFF;
}
.header-content{
  height: 100%;
}
.header{
  height: 100%;
  display: flex;
  align-items: center;
}
.logo{
  font-family: 'Racing Sans One';
  color: #BC2649;
  font-size: 30px;
  width: 200px;
  height: 100%;
  line-height: 0.8;
  text-align: center;
  display: flex;
  align-items: center;
}

/* footer */
.footer-component{
  height: 400px;
  background-color: #2A3659;
  padding: 40px 0;
  color: #FFFFFF;
}
.footer{
  text-align: center;
  line-height: 1.6;
}
.footer h1{
  color: #BC2649;
}
.footer h3{
  font-size: 26px;
}
.footer b{
  color: #FFFFFF;
  font-size: 30px;
}
.footer .item{
  display: flex;
  justify-content: center;
}
.footer .item a{
  display: block;
  color: #FFFFFF;
  padding: 10px;
}
.footer small{
  display: block;
  color: #567492;
  font-size: 12px;
  margin: 40px 0;
}

/* top */
.to-top{
  background-color: #2A3659;
  position: fixed;
  bottom: 40px;
  right: 60px;
  z-index: 9;
  padding: 10px 10px;
  border-radius: 30px;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,.2);
  cursor: pointer;
}
.to-top .icon{
  color: #FFFFFF;
}

/* event */
.event{
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(-20px);
}

.show{
  opacity: 1;
}

.event-top{
  transition: 1s;
  animation-name: event_top;
  animation-duration: 3s;
  transform: translateY(0);
  animation-iteration-count: infinite;
}

@keyframes event_top {
  0% { 
    transform: translateY(0px);
  }
  50% { 
    transform: translateY(15px);
  }
  100% { 
    transform: translateY(0px);
  }
}

/* event-grow */
.event-grow{
  transition: 0.5s;
}

.event-grow:hover{
  transform: scale( 1.05, 1.05);
}

/* event-up */
.event-up{
  transition: 0.5s;
  transform: translateY(0px);
}

.event-up:hover{
  transform: translateY(-10px);
}

/* event-left */
.event-left{
  transition: 1s;
  animation-name: event_left;
  animation-duration: 1s;
  transform: translateX(0);
  animation-iteration-count: infinite;
}

@keyframes event_left {
  0% { 
    transform: translateX(0px);
    opacity: 1;
  }
  100% { 
    transform: translateX(-15px);
    opacity: 0;
  }
}

.delay-0{
  transition-delay: .1s;
  transform: translateY(20px);
}
.delay-1{
  transition-delay: .2s;
  transform: translateY(20px);
}
.delay-2{
  transition-delay: .4s;
  transform: translateY(20px);
}
.delay-3{
  transition-delay: .6s;
  transform: translateY(20px);
}
.delay-4{
  transition-delay: .8s;
  transform: translateY(20px);
}
.delay-5{
  transition-delay: 1s;
  transform: translateY(20px);
}
.delay-6{
  transition-delay: 1.2s;
  transform: translateY(20px);
}

/* scroll */
::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb{
  background-color: #BC2649;
  border-radius: 5px;
}
::-webkit-scrollbar-track{
  background-color: transparent;
}